/mobile/nbproject/private/
/saveAnalyzer/nbproject/private/
/OpenWIGTester/nbproject/private/
/OpenWIGLibrary/nbproject/private/
/DesktopWIG/nbproject/private/
/kahlua2.nbproject/nbproject/private/
/OpenWIGLibrary/build/
/DesktopWIG/build/
/kahlua2.nbproject/build/
/kahlua2/core/build/
/kahlua2/core/dist/
/kahlua2.nbproject/dist/
/OpenWIGLibrary/dist/
/mobile/build/
/mobile/dist/
