<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
     package="cz.matejcik.openwig.android">
    <application>
         <activity android:name=".MainActivity" android:label="droidWIG">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
	<activity android:name=".CartDetailsActivity" android:label="Cartridge Details">
		 <intent-filter>
			 <action android:name="android.intent.action.VIEW"/>
			 <category android:name="android.intent.category.DEFAULT"/>
			 <data android:scheme="file"/>
			 <data android:host="*"/>
			 <data android:mimeType="*/*"/>
			 <data android:pathPattern=".*.gwc"/>
		 </intent-filter>
	</activity>
    </application>
</manifest>
